:root {
  --filter-line-color: rgb(238, 238, 238);
}
.FilterContainer {
  width: 100%;
  border: 1px solid var(--stack-tab-line-color);
  display: flex;
  flex-direction: column;
  grid-area: right;
  height: calc(100vh - 151px);
  position: sticky;
}
.SubCategoryDisk {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.PriceFilterContainer {
  margin-top: 10px;
}
.RatingFilterContainer {
  margin-top: 20px;
}
.PriceFilterList span,
.RatingFilterList span {
  margin-left: 5px;
}
.PriceHeader,
.RatingHeader {
  font-weight: 600;
}
.PriceHeader,
.PriceFilterList,
.RatingHeader,
.RatingFilterList {
  margin-top: 5px;
  margin-left: 16px;
}
.HorizontalLine {
  height: 1px;
  background-color: var(--filter-line-color);
  margin-top: 5px;
  width: 100%;
}
.PriceFilterList,
.RatingFilterList {
  margin-top: 10px;
}
.Star {
  color: orange;
}
