.ToastListContainer {
  font-size: 1.4rem;
  position: fixed;
  z-index: 10000;
  bottom: 1rem;
  right: 1rem;
}
.ToastNotification {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: #000;
  transition: 0.3 ease;
  height: auto;
  width: 36.5rem;
  background-color: white;
  position: relative;
}
.ToastProgressLine {
  position: absolute;
  height: 0.8rem;
  width: 100%;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  animation: progress 1.8s linear forwards;
  border-radius: 0.36rem;
}
.ToastNotification:last-of-type {
  animation: toast-in-right 0.7s normal;
}
.ToastCloseConatiner {
  margin: 0.5rem 1rem 0rem;
  font-size: 1.6rem;
  cursor: pointer;
  align-self: flex-end;
}
.IconWithDescription {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
  margin: 0rem 1.4rem;
  margin-bottom: 1.8rem;
}
.ToastIcon {
  font-size: 3rem;
}
.ToastNotificationDescription {
  margin: 0;
  text-align: left;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@media (max-width: 640px) {
  .ToastNotification {
    height: auto;
    width: 28.5rem;
  }
  .IconWithDescription {
    margin-bottom: 1.6rem;
  }
  .ToastListContainer {
    font-size: 1.2rem;
  }
}
