:root {
  --item-list-bg-color: rgb(244, 246, 251);
  --item-line-color: rgb(242, 242, 242);
  --filter-main-color: rgb(12, 131, 31);
}
.MenuItemMiddleListContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  grid-area: middle;
  overflow-y: auto;
  height: calc(100vh - 151px);
}
.MenuItemMiddleListContainer::-webkit-scrollbar {
  display: none;
}
.ItemListContainer {
  background-color: var(--item-list-bg-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.ItemListContainer::-webkit-scrollbar {
  display: none;
}
.ItemListNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--item-line-color);
}
.CurrentCategoryName {
  font-weight: 600;
}
.MenuItemFilterContainer {
  display: flex;
  align-items: center;
}
.SortName {
  margin-right: 5px;
}
.MenuItemPriceSortFilter {
  padding: 5px;
  color: var(--filter-main-color);
  font-weight: 500;
  border: 1px solid var(--item-line-color);
  background-color: white;
}
