:root {
  --stack-tab-dark-color: #86cb86;
  --stack-tab-light-color: rgb(195, 232, 202);
  --stack-tab-line-color: rgb(238, 238, 238);
}

.SubCategoryStackContainer {
  width: 200px;
  border: 1px solid var(--stack-tab-line-color);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 151px);
  left: auto;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  grid-area: left;
  z-index: -1;
}
.SubCategoryDisk {
  display: flex;
  gap: 20px;
  padding: 16px;
  border-bottom: 1px solid var(--stack-tab-line-color);
  cursor: pointer;
}
.SubCategoryDisk:hover {
  background: var(--stack-tab-light-color);
}
