.MenuItemListPageContainer {
  margin: 0rem 11rem;
  overflow-x: hidden;
}

@media (max-width: 1280px) {
  .MenuItemListPageContainer {
    margin: 0rem 2rem;
  }
}
@media (max-width: 1024px) {
  .MenuItemListPageContainer {
    margin: 0rem 0.5rem;
  }
}
@media (width <= 395px) {
  .MenuItemListPageContainer {
    margin: 0rem 0.1rem;
  }
}
