:root {
  --bannercard-font-color: #716687;
  --bannercard-title-color: #100c0d;
}
.BannerCardContainer {
  height: 140px;
  width: 180px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.BannerCardContainer img {
  height: 120px;
  width: 120px;
  margin-top: -3rem;
}
.BannerCardContainer .BannerCardTitle {
  color: var(--bannercard-title-color);
  font-weight: 600;
}
.BannerCardContainer .BannerCardSubTitle {
  color: var(--bannercard-font-color);
  padding: 10px;
  font-size: small;
  text-align: center;
}
.BannerCardContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}
