:root {
  --loader-bg-color: #86cb86;
  --loader-thumb-color: #f4f4f4;
}
.HomeLoaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.HomeLoaderContainer .Loarder {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 16px solid var(--loader-bg-color);
  border-top: 16px solid var(--loader-thumb-color);
  animation: rotateLoader 1s ease-in infinite;
}
@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
