:root {
  --cart-line-color: rgb(238, 238, 238);
  --cart-small-text-color: rgb(79, 79, 79);
  --cart-header-text-color: rgb(28, 28, 28);
  --cart-button-light-color: #86cb86;
  --cart-button-dark-color: rgb(12, 131, 31);
}
.CartPageContainer {
  display: flex;
  justify-content: center;
  margin: 0rem 3rem;
  margin-top: 8.6rem;
  gap: 1.5rem;
  padding-top: 2rem;
}
.LeftCartItemListContainer {
  border-right: 0.1rem solid var(--cart-line-color);
  padding: 1.5rem;
}
.FinalDeliveryTime {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.DeliveryTimeIcon img {
  height: 10rem;
  width: 10rem;
}
.DeliveryTimeText {
  display: flex;
  flex-direction: column;
}
.DeliveryTimeTextHeader {
  font-size: 2rem;
  font-weight: 500;
}
.DeliveryTimeTextSubTitle {
  font-size: 1.2rem;
  color: var(--cart-small-text-color);
}
.CartItemList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  gap: 5rem;
}
.CartMenuItemContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.CartMenuItemContainer .CartMenuItemImage {
  border: 0.1rem solid var(--cart-line-color);
  border-radius: 0.3rem;
}
.CartMenuItemImage img {
  max-height: 100%;
  width: 12rem;
}
.CartMenuItemDetails {
  display: flex;
  flex-direction: column;
}
.cartMenuItemName {
  color: var(--cart-header-text-color);
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6rem;
  height: 3.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.CartMenuItemVariantContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 45rem;
}
.CartMenuItemVariant {
  display: flex;
  justify-content: space-between;
}
.VariantQuantityAndUnitContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.VariantUnit {
  color: var(--cart-small-text-color);
}
.VariantPrice {
  font-weight: 500;
}
.RightCartBillContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}
.BillSummeryContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 40rem;
}
.BillHeader {
  font-size: 2rem;
  font-weight: 500;
}
.BillSummeryContainer .HorizontaLine {
  background-color: var(--cart-line-color);
  height: 0.1rem;
  margin-top: 2rem;
}
.BillSummeryContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.BillSummeryContainer li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.BillListHeader {
  color: var(--cart-small-text-color);
}
.Delivery {
  color: var(--cart-button-dark-color);
}
.Delivery span {
  text-decoration: line-through;
  color: black;
}
.GrandTotalContainer {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ContinueShopping,
.CheckOutButton {
  margin-top: 5rem;
  align-self: flex-end;
  background-color: var(--cart-button-light-color);
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  user-select: none;
}
.EmptyCartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.EmptyCartImageContainer img {
  height: 40rem;
  width: 40rem;
}
.EmptyCartDarkText {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
}
.EmptyCartLightText {
  margin-top: 1rem;
  color: var(--cart-small-text-color);
  font-size: 1.2rem;
  text-align: center;
}
.EmptyCartShoppingBtn {
  margin-top: 3rem;
  background-color: var(--cart-button-light-color);
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.36rem;
  user-select: none;
}
.ContinueShopping {
  align-self: flex-start;
  width: 15rem;
}
@media (max-width: 1024px) {
  .EmptyCartContainer {
    margin-top: 8.6rem;
  }
  .CartPageContainer {
    margin: 0rem 1rem;
    margin-top: 14rem;
    flex-direction: column;
  }
  .RightCartBillContainer,
  .LeftCartItemListContainer {
    max-width: 60rem;
  }
  .BillSummeryContainer {
    width: 100%;
  }
  .LeftCartItemListContainer {
    border-right: none;
  }
}
@media (max-width: 640px) {
  .FinalDeliveryTime {
    margin-top: 14rem;
  }
  .RightCartBillContainer,
  .LeftCartItemListContainer {
    width: 100%;
  }
  .RightCartBillContainer {
    width: 42rem;
  }
  .CartMenuItemVariantContainer,
  .cartMenuItemName {
    width: 28rem;
  }
  .CartPageContainer {
    margin: 0rem 0.1rem;
  }
  .RightCartBillContainer {
    padding: 0rem;
  }
}
@media (max-width: 430px) {
  .RightCartBillContainer {
    width: 36rem;
  }
  .CartMenuItemVariantContainer,
  .cartMenuItemName {
    width: 22rem;
  }
}
@media (width <= 395px) {
  .EmptyCartImageContainer img {
    height: 35rem;
    width: 35rem;
  }
  .CartMenuItemImage img {
    width: 8rem;
  }
  .CartMenuItemVariant {
    flex-direction: column;
    gap: 1rem;
  }
  .RightCartBillContainer {
    width: 26rem;
  }
  .cartMenuItemName {
    width: 16rem;
  }
  .DeliveryTimeTextHeader {
    font-size: 1.8rem;
  }
  .DeliveryTimeIcon img {
    height: 8rem;
    width: 8rem;
  }
}
