:root {
  --wishlist-line-color: rgb(238, 238, 238);
  --wishlist-header-text-color: rgb(28, 28, 28);
  --wishlist-button-light-color: #86cb86;
  --wishlist-button-dark-color: rgb(12, 131, 31);
  --wishlist-small-text-color: rgb(79, 79, 79);
}
.MenuItemListViewListContainer {
  display: flex;
  height: 10rem;
  font-size: 1.5rem;
}
.PaginationRemoveMenuItemIconContainer {
  font-size: 2rem;
  color: #dc2626;
}
.PaginationMenuItemImage img {
  height: 12rem;
  width: 12rem;
}
.PaginationMenuItemName {
  color: var(--wishlist-small-text-color);
  font-size: 1.4rem;
}
.PaginationMenuItemVariantContainer,
.PaginationMenuItemDetails {
  display: flex;
  align-items: center;
}
.PaginationMenuItemVarinats {
  outline: none;
  border: 0.1rem solid var(--item-line-color);
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: white;
  cursor: pointer;
  padding: 1rem;
}
.PaginationMenuItemAddToCartButton,
.PaginationMenuItemGoToCartButton {
  border: 0.2rem solid var(--item-button-dark-color);
  color: var(--item-button-dark-color);
  background-color: var(--item-button-light-color);
  font-weight: 400;
  border-radius: 0.5rem;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  text-decoration: none;
}
