.EmptyWishlistContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 52rem;
}
.EmptyWishlistContainers img {
  padding-top: 8.6rem;
  width: 28rem;
  height: 28rem;
}
.EmptyWishlistDarkText {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
}
.EmptyWishlistLightText {
  margin-top: 1rem;
  color: var(--small-text-color);
  font-size: 1.2rem;
  text-align: center;
}
.EmptyWishlistShoppingBtn {
  margin-top: 3rem;
  background-color: var(--main-light-color);
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.36rem;
  user-select: none;
}

@media (max-width: 1024px) {
  .WishlistContainer {
    margin: 0rem 5rem;
  }
  .EmptyWishlistContainers img {
    padding-top: 12.5rem;
  }
}
@media (max-width: 640px) {
  .WishlistContainer {
    margin: 0rem 2rem;
  }
}
@media (width <= 430px) {
  .WishlistContainer {
    margin: 0rem 0.5rem;
  }
}
