.MenuItemVariantList {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 0.1rem solid var(--line-color);
  border-radius: 0.5rem;
}
.MenuItemUnit {
  width: 27%;
  margin: 0.1rem 0 1rem 1rem;
  flex-grow: 0;
  font-weight: 600;
}
.MenuItemPrice {
  flex-grow: 1;
  margin: 0.1rem 0;
}
.RightTickIcon {
  background-color: white;
  height: 100%;
  width: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
@media (max-width: 640px) {
  .MenuItemUnit {
    width: 35%;
  }
}

@media (width <= 395px) {
  .MenuItemUnit {
    width: 45%;
  }
}
